In [1]:
# Dependencies and modules
import pandas as pd
from bs4 import BeautifulSoup
import requests
from splinter import Browser

import tweepy
import json

### NASA Mars News

In [2]:
# Create path to browser
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
# Go to url
url = "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
browser.visit(url)

In [4]:
# Create BeautifulSoup object, parse with 'html.parser'
html = browser.html
soup = BeautifulSoup(html, "html.parser")
#print(soup.prettify())

In [5]:
# Find most recent news article and description
news_title = soup.find("div", class_="content_title").text
news_p = soup.find("div", class_="rollover_description_inner").text

print(news_title)
print("---------------------------------------------------------------------")
print(news_p)

NASA's First Deep-Space CubeSats Say: 'Polo!'
---------------------------------------------------------------------
MarCO is a pair of tiny spacecraft that launched with NASA's InSight lander today.

### JPL Mars Space Images - Featured Image

In [6]:
# Go to url
pic_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(pic_url)

In [7]:
# Click to navigate to picture
browser.click_link_by_partial_text("FULL IMAGE")

In [8]:
browser.click_link_by_partial_text("more info")

In [9]:
# Create BeautifulSoup object, parse with 'html.parser'
pic_html = browser.html
pic_soup = BeautifulSoup(pic_html, "html.parser")
#print(pic_soup.prettify())

In [10]:
# Find most recent featured image url
base_url = "https://www.jpl.nasa.gov"
image_url = pic_soup.find("figure", class_="lede").a["href"]

# Create path to image
featured_image_url = base_url + image_url
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA18906_hires.jpg'

### Mars Weather

In [11]:
# Go to url
tweet_url = "https://twitter.com/marswxreport?lang=en"
browser.visit(tweet_url)

In [12]:
# Create BeautifulSoup object, parse with 'html.parser'
tweet_html = browser.html
tweet_soup = BeautifulSoup(tweet_html, "html.parser")
#print(tweet_soup.prettify())

In [13]:
mars_weather = tweet_soup.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text
print(mars_weather)

Sol 2039 (May 02, 2018), Sunny, high 0C/32F, low -74C/-101F, pressure at 7.28 hPa, daylight 05:23-17:20

### Mars Facts

In [14]:
# Read url with pandas
table = pd.read_html("https://space-facts.com/mars/")
print(table)

[                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 째C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers]

In [15]:
# Convert table into dataframe
df = table[0]
df.columns = ["Description", "Value"]
df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 째C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [16]:
# Convert dataframe into html code
facts_table = df.to_html()
print(facts_table)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Description</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.42 x 10^23 kg (10.7% Earth)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.52 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-153 to 20 째C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

### Mars Hemispheres

In [17]:
# Go to url
hemi_url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(hemi_url)

In [18]:
# Create BeautifulSoup object, parse with 'html.parser'
hemi_html = browser.html
hemi_soup = BeautifulSoup(hemi_html, "html.parser")
#print(hemi_soup.prettify())

In [19]:
# Links to Mars hemisphere image urls
cerberus = "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg"
schiaparelli = "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg"
syrtis_major = "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg"
valles_marineris = "https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg"

# Create list of urls
img_urls = [cerberus, schiaparelli, syrtis_major, valles_marineris]

In [20]:
# Find title of images
img_titles = []
titles = hemi_soup.find_all("h3")

for title in titles:
    #print(title.get_text())
    img_titles.append(title.get_text())

print(img_titles)

['Cerberus Hemisphere Enhanced', 'Schiaparelli Hemisphere Enhanced', 'Syrtis Major Hemisphere Enhanced', 'Valles Marineris Hemisphere Enhanced']

In [22]:
# Create list of dictionaries - use zip(*list) to create k, v pairs
hemisphere_images_urls = [{"title": img_titles, "img_url": img_urls} for img_titles, img_urls in zip(img_titles, img_urls)]
hemisphere_images_urls

[{'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]